<div id="image-overlay">
	<img src="" id="post-image">
	<div id="top">
		<button type="button" id="back"><i class="fa-solid fa-arrow-left"></i></button>
		<div id="posted-by">
			Objavio: 
			<div id="poster"></div>
		</div>
		<button id="info" type="button"><i class="fa-solid fa-info"></i></button>
	</div>
	<div id="bottom">
		
	</div>
</div>

<div id="content">

	<div id="top-bar">
		<div id="post-title"></div>
		<button type="button" id="pin-post"><i class="fa-solid fa-thumbtack"></i></button>

	</div>

	<div id="post-info">
		<div id="post-description">
			Opis:
			<div id="description-text"></div>	
			<button type="button" id="expand"><i class="fa-solid fa-ellipsis"></i></button>
		</div>

		<div id="link-box">
			<div id="title"> Linkovi: </div>	
			<div id="links">
				<div class="link">
					<i class="fa-solid fa-globe"></i>
					<div id="link-text"><a href="">this is a link.com</a></div>	
				</div>	
			</div>
		</div>
	</div>
	
	<button type="button" id="signup">Prijavi se</button>

</div>
