<div id="editable-post" class="comapny_scroll">
	<div id="info">
		<div id="image"></div>
		<div id="title"></div>
	</div>
	<div id="buttons">
		<button type="button" id="open-post" class="post-button">Otvori <i class="fa-solid fa-arrow-up-right-from-square"></i></button>
		<button type="button" id="edit-post" class="post-button">Izmjeni <i class="fa-regular fa-pen-to-square"></i></button>
		<button type="button" id="delete-post" class="post-button">Obriši <i class="fa-regular fa-trash-can"></i></button>
	</div>
</div>
