<div id="post-view">
</div>
<div id="background-image"></div>
<div id='latest-event'>
	<div id='title'>
		<div id='main'>Aktuelo:</div>
			<div id='sub'>Trenutno aktuelan dogadjaj</div>
		</div>
		<div id='event'>
			<div id='icon'>
				
				<div class='eventLoadingIcon'>
					<svg width='100px' height='100px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
<path d='m17.6569,6.34315c-3.1242,-3.1242 -8.18956,-3.1242 -11.31375,0c-3.1242,3.12419 -3.1242,8.18955 0,11.31375c3.12419,3.1241 8.18955,3.1241 11.31375,0c0.7838,-0.7839 1.371,-1.69 1.7615,-2.6569' stroke='#000000' stroke-width='2' stroke-linecap='straight' stroke-linejoin='round'/>
</svg></div>

				<img src='https://cdn.skenda.me/images/mtel-ikona.png'>
			</div>
			<div id='info'>
				<div id='name'>
					Ime dogadjaja
				</div>	
				<div id='description'>
					Ovdje ce biti upisan dogadjaj na koji ste se najskorije prijavili.
				</div>
			</div>
		</div>
	</div>
<div id='recently-posted'>
	<div id='main'>
		Skoro objavljeno:
	</div>
	<div id='sub'>
	</div>
</div>
<div id='scroll-content'>
	<div id='loading'>
		<div id='spinner'>
	</div>
</div>


