<div class='scroll-element'>
	<div id="image">
		<div id="picture"></div>
	</div>
	<div id="title"></div>
	<div id="chin">
		
		<div id="content">
			<div id="left">
				
				<div id="type"></div>
				<div id="length">
					<i class="fa-solid fa-flag-checkered"></i><div id="time"></div>
				</div>
				<div id="posted-on">
					<i class="fa-regular fa-calendar"></i>
					<div id="date"></div>
				</div>
			</div>
			<div id="right">
				<button type="button" id="open"><i class="fa-solid fa-up-right-and-down-left-from-center"></i></button>
			</div>
		</div>
	</div>
</div>
