<div id='settings-container'>
	<div id="background-image"></div>
	<div id='label'> Profil </div>
	<div class='settings-element' id='upload-cv'>
		<div>
			<i class='fa-solid fa-id-card-clip'></i>
			CV 
		</div>
		<i class='fa-solid fa-arrow-up-from-bracket'></i>
	</div>
	<!-- ======================================== -->
	<div class='settings-element' id='edit-diplomas'>
		<div> 
			<i class='fa-solid fa-scroll'></i>
			Diploma
		</div>
		<i class='fa-solid fa-arrow-up-from-bracket'></i>
	</div>
	<!-- ======================================== -->
	<div class='settings-element' id='edit-email' class="edit-field">
		
		<div>
			<i class='fa-solid fa-envelope'></i>
			<input type="email" id="email-field" class="edit-field" value="">
		</div>
		<i class='fa-regular fa-pen-to-square'></i>
	</div>
	<!-- ======================================== -->
	<div class='settings-element' id='edit-phone'>
		
		<div><i class='fa-solid fa-phone'></i>
			<input type="text" id="phone-field" value="" class="edit-field">
		</div>
		<i class='fa-regular fa-pen-to-square'></i>
		
	</div>
	<!-- ======================================== -->

	<div id='label'> 
		Aplikacija 
	</div>
	
	<!-- ======================================== -->
	<div class='settings-element' id='version-info'> 
		Verzija aplikacije <i class='fa-regular fa-pen-to-square'>
		</i>
	</div>
</div>
	
<div id='upload-photo'>
		<div id='darken'></div>
		<div id='content'>
			<div id='title'>
				Promjeni Sliku
				<button id='popup-close'><i class='fa-solid fa-xmark'></i></button>
			</div>
			<div id='image-preview'><div id='circle'></div><img src=''></div>
			<div id='upload-container'><input type='file' id='file-input'><div id='text'>Odaberi iz galerije</div><div id='upload-image'><i class='fa-solid fa-camera'></i></div></div>
			<button id='upload-to-server'>Potvrdi</button>
		</div>
	</div>
