<div id='upload-photo'>
		<div id='darken'></div>
		<div id='content'>
			<div id='title'>
				Promjeni Sliku
				<button id='popup-close'><i class='fa-solid fa-xmark'></i></button>
			</div>
			<div id='image-preview'><div id='circle'></div><img src=''></div>
			<div id='upload-container'><input type='file' id='file-input'><div id='text'>Odaberi iz galerije</div><div id='upload-image'><i class='fa-solid fa-camera'></i></div></div>
			<button id='upload-to-server'>Potvrdi</button>
		</div>
	</div>
