body{
	background-color: var(--background-color);
	font-family: Inter-Normal;
	overflow-x: hidden;
	max-height: 100vh;
	width: 100vw;
}

.background-image{
	position: absolute;
	width: 100vw;
	height: 100vh;

	background-image: url("../backgrounds/common_background.png");
	background-size: cover;
	background-position: center;
	z-index: -1;
	opacity: 15%;
}


header{
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;


	min-height: 3rem;
	position: relative;
	z-index: 1;

	display: flex;
	align-items: center;
	justify-content: space-between;

	border-bottom: solid 5px var(--divider-color);

	backdrop-filter: blur(5px);

	&:before{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: var(--background-color);

		right: 0;

		opacity: 65%;
		z-index: -1;
		
	}

	& > #message{
		& > #subtitle{
			font-family: Inter-Light;
			color: var(--subtext-color);
			font-size: var(--subtitle-size);
		}
		& > #title{
			font-size: calc(var(--greeting-title-size) + 1rem);
			line-height: 4rem;
			color: var(--title-color)
		}
	}

	& > #help{
		display: flex;
		border-radius: 50%;
		aspect-ratio: 1/1;
		min-height: 2.5rem;
		text-align: center;
		justify-content: center;
		align-items: center;
		
		border-color: var(--divider-color);
		border-width: 5px;
		border-style: solid;
		font-weight: 700;
		font-size: var(--content-size);
		color: var(--text-color);
		background-color: var(--panel-background-color);
	}

}

#screen{
	
	animation: none;
	width: 100%;
	height: calc(100vh - 8.25rem - 4.5em);
	padding-top: 1.5em;
	padding-bottom: 3em;
	
	
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;

	& > .pwd{
		& .field{ 
			& > .showHidePwd, #showHidePwd{
				height: 3.5rem;
				aspect-ratio: 1/1;
				border: none;
				color: var(--text-color);
				background-color: var(--divider-color);
				
				

				font-size: x-large;
			}
			& > input{
				border: none !important;
			}
		}
	}

	& > #login{
			
		width: 90%;
		height: 100%;
		
		padding-top: calc(1.5em);

	/*	display: flex;
		
		justify-content: center;
		flex-direction: column; */
	
		& > .field{
			height: fit-content;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 1.5em;
			background-color: var(--panel-background-color);
			border-radius: 10px;
			overflow: hidden;
			& > i{
				height: 100% !important;
				aspect-ratio: 1/1;
				font-size: x-large;
				padding: 1rem;
			}
		}
		
		& > .field > input{
			color: var(--text-color);
			background-color: transparent;	
			border: none;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
			width: 100%;
			height: 2.5rem;
			padding: .5em;
			padding-left: 1rem;
			padding-right: 0;
			border-right: 3px solid var(--divider-color) !important;
			font-size: calc(var(--content-size));
		}
		& > .label{
			font-size: var(--content-size);
			width: 100%;
			text-align: left;
			margin-bottom: .5em;
		}
	}
	

}



#button-panel{
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: right;
	
	/*margin-bottom: 1.5em;*/
	
	& > #continue-container{
		display: flex;
		justify-content: right;
	}

	& > #login-link{
		margin-bottom: .5em;
		background: none;
		border: none;
		color: var(--subtext-color);
		text-decoration: underline;
		font-style: italic;
		text-align: left;
		font-size: calc(var(--subtitle-size) + .2rem);
	}

	& > div > #continue, #register, #login-button{
		font-size: calc(var(--greeting-title-size) - .5rem);
		font-weight: 600;
		
		border-radius: 10px;
		
		padding: .3em;
		padding-top: .3em;
		border: none;
		width: 100%;
		height: 3.5rem;
	}

	& > div > #register, #back, #login-button{
		background-color: var(--button-fun-color);
		color: var(--text-dark-color);
		border: none;
		border-radius: 10px;
	}


	& > div > #register{
		margin-left: 1rem;
		
	}

	& > div > #continue{
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;

		color: var(--text-color);
		background-color: var(--panel-background-color);
	}
	
	& > div > #back{
		height: 3.5rem;
		aspect-ratio: 1/1;

		font-size: calc(var(--greeting-title-size) - .5rem);
		font-weight: 600;
	}
	& > div > .indicator{
		min-height: 100%;
		aspect-ratio: 1/1;
		background: var(--button-fun-color);
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		text-align: center;
		align-items: center;
		display: flex;
		& > i {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 100%;
			height: 100%;
			font-size: calc(var(--greeting-title-size) - .5rem);
			color: var(--text-dark-color);
		}
	}


}

input:focus{
	outline: none !important;
	border: none !important;
	border-right: 3px solid var(--divider-color) !important;
}

@keyframes fadeOut{
	from{
		opacity: 100%;
	}
	to{
		opacity: 0%;
	}
}

@keyframes fadeIn{
	from{
		opacity: 0%;
	}
	to{
		opacity: 100%;
	}
}


@keyframes slideInRight{
	from{
		transform: translateX(100vw);
	}
	to{
		transform: translateX(0vw);
	}
}

@keyframes slideOutRight{
	from{
		transform: translateX(0vw);
	}
	to{
		transform: translateX(100vw);
	}
}

@keyframes slideOutLeft{
	from{
		transform: translateX(0vw);
	}
	to{
		transform: translateX(-100vw);
	}
}

@keyframes slideInLeft{
	from{
		transform: translateX(-100vw);
	}
	to{
		transform: translateX(0vw);
	}
}





button, .button,input[type="button"]:hover{
	cursor: pointer;
}
