body{
	background-color: var(--background-fun-color);
}


.page{
	display: flex;

	flex-direction: column;

	justify-content: center;	
	
	height: 100vh;
}
.title{
	color: var(--title-color);
	
	& > #praksa{
		display: flex;
		flex-direction: row;
		& > *{
			margin: .2rem;
			padding: 5px;
			font-size: 3rem;
		}
		& :nth-child(1){
			transform: rotate(-20deg);
		}
		& :nth-child(2){

			transform: rotate(15deg);
		}
		& :nth-child(3){

			transform: rotate(-10deg);
		}
		& :nth-child(4){

			transform: rotate(20deg);
		}
		& :nth-child(5){
			transform: rotate(-20deg);

		}	
	}

	& > #centar{
		display: flex;
		flex-direction: row;
		& > *{
			margin: .2rem;
			padding: 5px;
			font-size: 3rem;
		}
		& :nth-child(1){
			transform: rotate(-20deg);
		}
		& :nth-child(2){

			transform: rotate(15deg);
		}
		& :nth-child(3){

			transform: rotate(-10deg);
		}
		& :nth-child(4){

			transform: rotate(20deg);
		}
		& :nth-child(5){
			transform: rotate(-20deg);

		}	
	}
}
.content{
	
	display: flex;
	flex-direction: column;

	/* border: solid white 1px; */
	
	
}
button:active{
	background: var(--button-clicked-color);
}

#get_started{
	padding: 1rem;

	font-size: 2rem;
	
	background-color: var(--button-fun-color);

	color: var(--button-text-color);

	border: none;
	border-radius: 15px;

	align-self: center;

}

#get_started:active{
	background: var(--button-clicked-color);
}


.background{

	z-index: -1;

	position: absolute;
	width: 100vw;
	height: 100vh;
	background-image: url("../backgrounds/main_background.png");
	background-size: cover;
	background-position: center;
}

#title{
	width: 200px;

	align-self: center;
	margin-top: -10rem;
}
