body{
	overflow: hidden;
}
.button:hover{
	cursor: pointer;
}
footer{
	overflow: hidden;

	background-color: var(--panel-background-color);

	height: 4rem;
	width: 100vw;

	position: absolute;
	bottom: 0;

	display: flex;
	justify-content: space-evenly;
	align-items: cenimageelementId;
	

	@media (prefers-color-scheme: light){
		border-top: 2px solid var(--panel-border-color);
	}	
}

#school-edit{
	background-color: transparent;
	border: none;
	color: var(--subtext-color);
	font-size: 1rem;
	font-weight: 600;
	height: 1.5rem;
	padding-left: .5rem;
	border-radius: 5px;
}

#latest-title{
	height: 2rem;
	width: calc(100% - 2rem);

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: .5rem;
	font-size: 1.5rem;
}

#latest-label{
	width: fit-content;
	height: 100%;
}

#open-all{
	overflow: hidden;
	border-radius: 10px;
	display: flex;
	background-color: var(--panel-background-color);
	height: 100%;
	flex-direction: row;
	padding-left: .5rem;
	padding-right: 2.5rem;
	position: relative;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: left;
}

#open-all > div{
	height: 100%;
	aspect-ratio: 1/1;
	background-color: var(--highlight-color);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
	top: 0;
}


#open-all > div > i{
	color: var(--text-invert-color);
}

#notif{
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 5rem;
	margin-right: 1rem;
	width: 3rem;
	height: 3rem;
	border-radius: 5px;
	font-size: 1.5rem;	
	display: flex;
	align-items: center;
	justify-content: center;
	filter: drop-shadow(0 0 8px rgba(0, 0, 0, .5));
	background-color: var(--panel-background-color);
}

.comapny_scroll{
	height: calc(100vh / 4);
	width: calc(100% - 1rem);
	background: var(--card-background);
	display: flex;
	margin-bottom: 2rem;
	overflow: hidden;
	border-radius: 15px;
}


.comapny_scroll > #info{
	padding: .5rem;
	width: 100%;
	height: 100%;

	align-items: center; 
}

.comapny_scroll > #info > #image{
	background-color: var(--card-picture-background);
	width: 100%;
	aspect-ratio: 16/10;
	border-radius: 5px;	
	background-size: cover;
	background-position: center;
}

.comapny_scroll > #info > #title{
	width: 100%;
	height: 25%;
	display: flex;
	align-items: center;
	justify-content: left;
}

.comapny_scroll > #buttons{
	height: 100%;
	width: calc(50% - 1rem);
	display: flex;
	flex-direction: column;

}

.comapny_scroll > #buttons > * {	
	font-size: 1.2rem;
	height: 100%;
	background-color: var(--popup-title-foreground);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: .5rem;
	padding-right: 1rem;
}

.post-button:nth-child(2){
	border: solid 2px var(--card-background);
	border-left: none;
	border-right: none;
}

.post-button:nth-child(3){
	background-color: #352F32 !important;
	color: #D7AEAE !important;
}


.nav-item{
	
	background-color: transparent;
	border: none;

	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;		

	& > i{
		color: var(--panel-text-color);
		font-size: var(--nav-size);
	}
}

.highlight > i{
	color: var(--button-fun-color);
}

.highlight:before {
  content : "";
  position: absolute;
  justify-self: center;
  bottom  : 0;
  height  : 1px;
  width   : 10%;  /* or 100px */
  border-bottom: .2rem solid var(--button-highlight-opaque-color);
}

#view-all{
	z-index: 2;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: var(--background-color);
	overflow: scroll;
}

#close-all{
	font-size: 2rem;
	position: absolute;
	top: 0;
	left: 0;
	padding: .5rem;
}

#new-post-form{
	margin-top: 1rem;
	height: fit-content;
	padding-bottom: 1.5rem;
	width: 90%;	
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: top;
}

#container{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: top;
	justify-content: center;
}

textarea{
	min-height: 4rem;
	border: none;
	border-radius: 5px;
	padding: .5rem;

	background-color: var(--card-background);
	color: var(--text-color);
}

#form-buttons{
	display: flex;
	width: 100%;
	align-items: center; 
	justify-content: space-between;
	flex-direction: row-reverse;
	
}

#upload-img{
	width: 98%;
}

#promo-photo{
	width: 100%;
	aspect-ratio: 16/9;
	border: solid 3px var(--panel-background-color);
	background-color: var(--popup-background);
	border-radius: 15px;
	position: relative;
	overflow: hidden;
	padding: 0;
}

#promo-photo:before{
	content: "Slika nije odabrana...";
	width: 100%;
	height: 100%;

	padding: 0;
	background-color: var(--popup-background);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#upload-container{
	background-color: var(--card-background);
	border-radius: 10px;
	margin-top: 1rem;
	width: calc(100% - .5rem);
	position: relative;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 1rem;
	overflow: hidden;
}

#gallery-icon{
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text-invert-color);
	height: calc(100% - 1rem);
	padding: .5rem;
	aspect-ratio: 1/1;
	background: var(--highlight-color);
}

#image-input{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.form-label{
	padding-bottom: .5rem;
}

.divider{
	width: 100vw;
	margin-left: -5%;
	border: solid 1px var(--divider-color);
	height: 0;
	margin-top: 1rem;
	margin-bottom: 1rem;
	
}

#date-input{
	width: 45%;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}

#calendar-icon{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	aspect-ratio: 1/1;
	background-color: var(--highlight-color);
	color: var(--text-invert-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	pointer-events: none;
}

#post-type{
	padding: .5rem;
	height: 3rem;
	min-width: 90%;
	border-radius: 10px;
}

#type-container{
	position: relative;
	max-width: 45%;
	overflow: hidden;
	border-radius: 10px;
}

#chevron-icon{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--highlight-color);
	color: var(--text-invert-color);
	pointer-events: none;
}

#form-buttons > input{
	font-size: 1.2em;
	font-weight: 800;
}

#expiry-date-input{
	padding: .5rem;
	min-width: 90%;
	border-radius: 10px;
	font-weight: 600;
}

#publish{
	background-color: var(--highlight-color);
	width: 50%;
	height: 3rem;
	color: var(--text-dark-color);
	border-radius: 10px;
	font-size: 1.2rem;
}

#giveup{
	width: 45%;
	height: 3rem;
	border-radius: 10px;
	background-color: var(--card-background); 
	color: var(--error-red);
	font-size: 1.2rem;
}

textarea{
	height: auto;
	max-width: 100%;
	resize: vertical;
	border-radius: 10px;
}

textarea:focus{
	border: none !important;
	outline: none !important;
	
}

#new-posts-form > button{
	background-color: var(--card-background);
	color: var(--text-color);
}

input, select{
	height: 2rem;
	border: none;
	border-radius: 5px;
	padding: .5rem;
	background-color: var(--card-background);
	color: var(--text-color);
}

.link{
	width: 100%;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: left;
	margin-bottom: .5rem;
}

.link-element{
	max-width: 80%;
	height: 100%;
	padding-right: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: left;
}
.remove-link{
	display: none;
	height: 100%;
	aspect-ratio: 1/1;
	border: none;
	color: var(--error-red);
	margin-left: 1rem;
	font-size: 1.5rem;
}

#title-input{
	padding: .5rem;	
	border-radius: 10px;
}

#add-link{
	height: 2rem;
	width: 50%;
	background-color: var(--highlight-color); 
	margin-top: .5rem;
	border-radius: 5px;
	color: var(--text-invert-color);
	font-size: 1.2rem;
}

.link-name{
	border-radius: 10px;
	width: 50%;
	height: 100%;
	padding-left: 1rem;
}

.link-value{
	border-radius: 10px;
	width: 50%;
	height: 100%;
	padding-left: 1rem;
	margin-left: 1rem;	
}

header{

	--header-spacing: 1em;
	width: 100%;

	/*position: absolute;
	top: 0;*/

	min-height: 6rem;
	border-bottom: solid .2rem var(--divider-color);
	
	color: var(--text-color);
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-top: calc(var(--header-spacing) * .5);
	padding-bottom: calc(var(--header-spacing) * .5);

	& #pic, #info_display > #profile_image{
		display: flex;
		align-items: center;
		justify-content: center;

		border: 2px solid var(--text-color);
		border-radius: 50%;

		margin-right: var(--header-spacing);
		margin-left: var(--header-spacing);

		max-height: 5rem;
		max-width: 5rem;
		width: 100%;
		aspect-ratio: 1/1;
	
		object-fit: cover;
		
		& > img{
			width: 100%;
			height: 100%;
			border-radius: 50%;
			object-fit: cover;
		}

		background-size: cover;
		background-position: center;
		/*background-image: url("../icons/default-user.png");*/
	}

	& #osoba{
		position: relative;

		display: flex;
		flex-direction: column;
		justify-content: center;

		width: calc(100% - 5rem);
	}

	& #ime, #info_display > #info_strings > #username{
		font-size: var(--greeting-title-size);
		
	}
	& #ime{
		width: 100%;
	}

	& #skola, #info_display > #info_strings >#school{
		color: var(--subtext-color);
		font-size: var(--greeting-subtitle-size);
		margin-bottom: 10px;
	}
	& > #events > .title{
		font-size: var(--greeting-title-size);
	}
	
	& > #info_display{
		align-self: center;
		width: 100%;
		height: 10rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: left;
		& > #profile_image{
			position: relative;
			max-height: 7rem;
			max-width: 7rem;
			& > #upload_new{
				background-color: var(--text-color);
				position: absolute;
				right: 0;
				bottom: 0;
				color: var(--background-color);
				width: 1rem;
				height: 1rem;
				display: flex;
				align-items: center;
				justify-content: center;
				padding-top: .5em;
				padding-bottom: .5em;
				padding-left: .55em;
				padding-right: .55em;
				border-radius: 50%;
			}
		}
		& > #info_strings{
			height: 100%;
			& > *{
				width: 100%;
			}
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}

#background{	
	background: var(--background-image);
	opacity: var(--background-opacity);
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 0;
	background-position: center;
	background-size: cover;
}

#screen > #search-results{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	width: 100%;
	font-weight: 700;
	font-size: 1.5rem;
	color: var(--panel-background-color);
}

#search-title{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	color: var(--highlight-color);
}

#screen > #search-box{
	position: absolute;
	align-self: center;
	bottom: 4rem;
	width: calc(100vw - 2rem);
	height: 3rem;
	--search-border-radius: 10px;
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
	
	padding-left: 1rem;
	padding-right: 1rem;
}

#search-event-input{
	color: var(--text-dark-color);
	font-weight: 700;
	background: transparent;
	height: 100%;
	width: 100%;
	border: none;
	padding: .5rem;
	background-color: var(--background-light);
	border: solid 2px var(--light-border);
	border-top-left-radius: var(--search-border-radius);
	border-bottom-left-radius: var(--search-border-radius);
}

#search-event-input:focus{
	background-color: var(--background-light) !important;
}

[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	appearance: none;
	height: 1.5rem;
	width: 1.5rem;
	background: url("../icons/cross.svg");
	background-size: 1.5rem 1.5rem;
}

#sorting{
	height: 100%;
	aspect-ratio: 1/1;
	color: var(--text-dark-color);
	background-color: var(--background-light);
	border: solid 2px var(--light-border);
	border-top-right-radius: var(--search-border-radius);
	border-bottom-right-radius: var(--search-border-radius);
	font-size: 1.5rem;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
}


#screen{
	/*margin-top: calc(5rem + 45px);
*/	
	
	height: calc(100vh - 8rem - 45px);
	width: 100vw;

	overflow-y: scroll;
	overflow-x: hidden;	
	& > #recently-posted{
		font-size: var(--content-size);
		& > #main{
			font-size: var(--title-size);
		}
		& > #sub{
			font-size: var(--subtitle-size);
		}
	}
	& > #devToggle{
		font-size: var(--title-size);
		
		width: fit-content;
		height: fit-content;
		
		border: 2px solid var(--text-color);
		border-radius: 15px;
		overflow: hidden;

		display: flex;
		align-items: center;

		justify-content: space-evenly;
	
		& > input{
			border: none;
			border-radius: 10px;
			width: calc(var(--title-size) + 2em);
			aspect-ratio: 1/1;		
		}
	}	
}


#post-view{
	display: none;
	z-index: 100;

	position: absolute;
	top: 0;
	left: 0;

	height: 100vh;
	width: 100vw;

	background-color: var(--popup-background);

	& > #image-overlay{
		width: 100%;
		aspect-ratio: 16/9;
		font-size: 2rem;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		& > #top{
			z-index: 1;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;

			background: rgba(0, 0, 0, .5);
			backdrop-filter: blur(4px);

			& > #back{
				justify-self: left;
			}
			& > #posted-by{
				color: var(--text-light-color);
				display: flex;
				font-size: 1.5rem;
				width: 100%;
				justify-content: center;
				justify-self: center;
				& > #poster{
					padding-left: 1rem;
				}
			}
			& > #info{
				border-radius: 50%;
				border: solid 2px var(--text-light-color);
				font-size: .9rem;
				aspect-ratio: 1/1;
				height: calc(100% - 1rem);
				margin-right: .5rem;
				justify-self: right;
			}
		}
		& > img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			aspect-ratio: 16/9;
			background-color: var(--card-background);
		}
	}

	& > #image-overlay > #top > #back {
		font-size: 2rem;
		filter: drop-shadow(0 0 4px black);
	}
	& > #content{
		--h-padding: 1rem;
		--v-padding: .5rem;
		position: relative;
		height: calc(100% - (9/16 * 100vw));
		max-height: 100%;
		
		& > #signup{
			height: 10%;
		}

		& > #top-bar{
			& > #post-title{
				font-size: 2rem;
				font-weight: 600;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				flex-grow: 0;
			}
			& > #pin-post{
				border: solid 2px var(--card-picture-background);
				color: var(--text-color);
				border-radius: 10px;
				height: 100%;
				aspect-ratio: 1/1;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				font-size: 1.5rem;
			}
			height: 3rem;

			padding-left: var(--h-padding);
			padding-right: var(--h-padding);
			padding-bottom: var(--v-padding);
			padding-top: var(--v-padding);
			
			background-color: var(--popup-title-background);
			display: flex;
			justify-content: space-between;
		} /* End top bar */
		& > #post-info{
			height: 90%;
			overflow-y: scroll;
			& > #post-description{
				background-color: var(--card-background);
				font-size: 1.5rem;
				font-weight: 550;
				height: 45%;
				position: relative;

				padding-left: var(--h-padding);
				padding-right: var(--h-padding);
				padding-bottom: var(--v-padding);
				padding-top: var(--v-padding);
				display: flex;
				flex-direction: column;
				& > #expand{
					color: var(--text-color);

					position: absolute;
					height: 2rem;
					width: 6rem;
					background-color: var(--background-color);
					bottom: 0;
					align-self: center;
					border-radius: 999px;
					outline: 5px solid var(--card-background);
					
					font-size: 2rem;
					align-items: center;
					display: flex;
					justify-content: center;

					transform: translateY(1rem);

				}
				& > #description-text{
					font-size: 1rem;
					font-weight: 500;
				}
			}
			& > #link-box{
				background-color: var(--background-color);
				
				height: calc(50% - var(--v-padding) * 2);

				padding-left: var(--h-padding);
				padding-right: var(--h-padding);
				padding-bottom: var(--v-padding);
				padding-top: var(--v-padding);
				font-size: 1.5rem;
				font-weight: 550;
				& > #links > .link{
					padding-top: 1rem;
					display: flex;
					align-items: center;
				
					& > i{
						height: 100%;
						aspect-ratio: 1/1;
						font-size: 1rem;
						padding-right: 1rem;
					}
					& > #link-text{
						border-radius: 10px;
						width: 100%;
						height: 1.5rem;
						display: flex;
						font-size: 1rem;
						font-weight: 500;
						align-items: center;
						justify-content: center;
						padding: .25rem;
						background-color: var(--card-background);
						& > a{
							color: var(--text-color);
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

button{
	border: none;
	background-color: transparent;
}

#upload-photo{
	z-index: 2;

	& > #darken{
		z-index: -1;
		top: calc(-130vh - 100% - 16em);
		position: absolute;
		width: 100vw;
		height: 230vh;
		background-color: rgb(0 0 0);
		opacity: 20%;
	}

	animation: slideUp .2s ease-in-out forwards;

	--corner-radius: 20px;
	position: absolute;

	filter: drop-shadow(0 0 5px black);
	border-top-right-radius: 20px; 
	border-top-left-radius: 20px; 
	bottom: 0;
	right: 0;
	display: none;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 70vh;

	background: var(--popup-background);


	& > #content{
		margin-top: 10rem;

		display: flex;
		flex-direction: column;
		width: calc(100% - 2em);
		height: calc(100% - 2em);
		align-items: center;
		& > #title{
			position: absolute;
			top: 0;
			border-top-right-radius: var(--corner-radius);
			border-top-left-radius: var(--corner-radius);

			width: calc(100% - 1em);
			height: 3.5rem;
			padding-left: .5em;
			padding-right: .5em;
			font-size: xx-large;
			text-align: center;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: var(--popup-title-background);
			& > #popup-close{
				background-color: var(--popup-title-foreground);
				height: 100%;
				aspect-ratio: 1/1;
				border-top-right-radius: var(--corner-radius);
				position: absolute;
				right: 0;
				border: none;
				display: flex;
				align-items: center;
				justify-content: center;
				color: var(--text-color);
				font-size: 2rem;
			}
		}
		--border-thickness: 3px;
		& > #image-preview{
			

			overflow: hidden;

			position: relative;
				
			width: 90%;
			aspect-ratio: 1/1;

			border: solid var(--border-thickness) var(--text-color);
			border-top-right-radius: var(--corner-radius);
			border-top-left-radius: var(--corner-radius);

  			

			& > #circle{

				position: absolute;
				z-index: 11;
				width: calc(100% - calc(var(--border-thickness) * 2));
				height: calc(100% - calc(var(--border-thickness) * 2));
				border: solid var(--border-thickness) var(--text-color);
				border-radius: 50%;
			}
	
			& > img{
				mask-image: radial-gradient(circle, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0.5) 70%);
				object-fit: cover;
				width: 100%;
				height: 100%;
				border: none;
			}

		}
		& > #upload-container{
			--h-padding: 3em;
			--v-padding: 1em;
			width: calc(90% - var(--h-padding) * .7);
			padding-right: calc(var(--h-padding) / 2);
			padding-left: calc(var(--v-padding) / 2 + .5em);
			padding-top: calc(var(--v-padding) / 2);
			padding-bottom: calc(var(--v-padding) / 2);
			height: calc(3.5rem - var(--v-padding));
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: var(--popup-title-background);
			border-bottom-left-radius: var(--corner-radius);
			border-bottom-right-radius: var(--corner-radius);
			position: relative;
			text-align: center;
			border: var(--light-border) solid var(--divider-color);
			border-top: 0px;
			& > #file-input{
				position: absolute;
				width: 100%;
				height: 100%;
				border: none;
				background-color: transparent;
				left: 0;
				opacity: 0%;
			}

			& > #upload-image{
				position: absolute;
				right: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				border-bottom-right-radius: var(--corner-radius);
				height: 100%;
				aspect-ratio: 1/1;
				background-color: var(--popup-title-foreground);
				font-size: 1.5rem;
				
			}
			margin-bottom: 1.5em;
			& > #text{
				font-size: 1.5rem;
				text-align: center;
				width: calc(100% - 2rem);
			}
		}
		& > #upload-to-server{
			width: 90%;
			height: 3.5rem;
			background-color: var(--popup-title-foreground);
			color: var(--text-color);
			border: none;
			border-radius: calc(var(--corner-radius) - 5px);
			font-size: 1.5rem;
		}
	}	
}

#latest-event{
	text-align: left;
	
	height: fit-content;
	width: 100vw;
	
	align-content: center;
	
	font-family: Inter-Normal;

	color: var(--text-color);
	
	margin-top: .75rem;
	margin-bottom: 1rem;

	& > #title{
		padding: 1rem;
		padding-top: 0;
		padding-bottom: .5rem;
		font-size: var(--title-size);
		& > #sub{
			font-size: var(--subtitle-size);
			color: var(--subtext-color)
		}
	}
	& > #event{
		padding: 1rem;

		height: fit-content;
		min-height: 5rem;

		font-size: var(--content-size);
		background-color: var(--card-background);
		
		display: flex;
		flex-direction: row;
		
		align-items: center;
	
		position: relative;
		& > #icon{
			
			height: fit-content;
			width: 5.5rem;
			
			/*background: var(--text-color);*/
									
			display: flex;
			position: relative;
			align-items: center;
			justify-content: center;

			&::before{
				content: ' ';
				position: absolute;
				margin-left: -100%;
				height: 5.5rem;
				aspect-ratio: 1/1;
				background: var(--text-color);
			}	

			& > img{
				display: flex;
				align-items: center;
				justify-content: center;

				border-radius: 50%;
				border: solid 5px var(--text-color);
				overflow: hidden;
				
				width: 5.5rem;;
				aspect-ratio: 1/1;
				
				background: transparent;
				z-index: 2;
			}
		}
		& > #info{
			height: 5rem;
			padding-left: 1rem;

			overflow: hidden;

			& > #name{
				font-size: var(--title-size);
			}
			& > #description{
				font-size: var(--content-size);
				color: var(--subtext-color);
				height: 100%;
			}
		}
	}
}

#latest-event > #event > #icon::after{
	content: ' ';
	width: 5rem;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background-color: var(--background-color);
	position: absolute;
	align-self: center;
	z-index: 0;
}



#scroll-content{		
	height: fit-content;
	min-height: 100%;
	width: 100%;

	display: flex;
	align-items: center;
	flex-direction: column;	
}

#scroll-content-all{
	margin-top: 4rem;
	height: fit-content;
	min-height: 100%;
	width: 100%;

	display: flex;
	align-items: center;
	flex-direction: column;	
	overflow-y: scroll;
}

.scroll-element{
	border-radius: 15px;
	/*border: solid .3rem var(--text-color);*/
	
	background: var(--card-background);

	width: 95vw;
	height: 45vh;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	
	margin-top: 1rem;
	margin-bottom: 1rem;
	
	overflow: hidden;

	& > #image{
		height: 100%;
		width: 100%;
		
		padding: 1em;
		padding-bottom: 0;
		
		overflow: hidden;
		
		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 10px;

		& > #picture{
			
			width: 100%;
			height: 100%;

			margin: 1rem;
				
			display: flex;
			justify-content: center;
			align-items: top;

			overflow: hidden;
			border-radius: 5px;	
			background-size: cover;

			background-color: var(--card-picture-background);

		}

	}

	& > #title{
		padding: .5rem;
		padding-left: .5rem;
		padding-right: 1rem;

		font-size: 1.5rem;
		font-weight: bold;
		text-align: left;
		width: calc(100% - 1.5em);
		text-align: left;
		kerning: normal;
		letter-spacing: .1cap;
	}


	& > #chin{
		min-height: 22%;
		width: calc(95vw - 2rem);

		border-top: solid 2px var(--divider-color);

		display: flex;
		flex-direction: row;

		justify-content: space-between;

		/*border: 1px solid cyan;*/
		
		position: relative;

		padding: 1rem;
		padding-top: .5rem;
		
		& > #content{
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: space-between;

			
			

			& > #left{
				--element-spacing: .5em;
				text-align: left;
				& > #type{
					font-size: 1.4rem;
					color: var(--highlight-color)
				}
				
				& > #posted-on{
					display: flex;
					padding-top: var(--element-spacing);
					color: var(--subtext-color);
				}
				
				& > #length{	
					display: flex;
					font-weight: 600;
					padding-top: var(--element-spacing);	
				}

				& > * > i{
					font-size: larger;
					padding-right: var(--element-spacing);
				}
			}

			& > #right{
				position: relative;
				& > button{
					position: absolute;
					right: 0;
					top: 0;
					font-size: 2rem;
					height: 100%;
					aspect-ratio: 1/1;
					border-radius: 15px;
					border: none;
					background-color: var(--popup-title-foreground);
					color: var(--text-color);
				}
			}
		}
	}
}

#recently-posted{
	padding-left: 1rem;
}

#loading{

	height: calc(100vh / 2);
	display: flex;
	align-items: center;

	
	& > #spinner{
		border-radius: 50%;
		aspect-ratio: 1/1;

		width: 50px;

		border: solid 5px var(--text-color);
		border-bottom-color: transparent;

		animation: rotate 1s infinite linear;	
	}
}

#settings-container{
	width: 100%;
}



#user_settings{
	--custom-height: 50%;
	display: block;
	height: 100%;
	max-height: 500px;
	overflow: hidden;
	animation: none;
}

#hide_settings{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: right;
	align-items: center;
	padding-right: 2rem;
}

@keyframes slideOpen{
	from{
		max-height: 0px;
	}
	to{
		max-height: 500px;
	}
}

@keyframes slideClosed{
	to{
		max-height: 0px;
	}
	from{
		max-height: 500px;
	}
}


.settings-element{
	width: calc(100% - 1.5rem);
	height: 3rem;

	color: var(--text-color);
	
	position: relative;

	border: none;
	border-top: solid 2px var(--divider-color);
	background-color: transparent;
	font-size: 1rem;
	text-align: left;
	padding-left: .5rem;
	padding-right: 1rem;
	color: var(--text-color);
	display: flex;
	justify-content: space-between;
	align-items: center;



}
.settings-element > div > i{
	
	margin-right: .5rem;
	height: 2rem;
	width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	/*border-right: 2px solid var(--divider-color);*/
	font-size: x-large;
}

.settings-element > i{
	font-size: x-large;
}

.settings-element > div{
	display: flex;
	align-items: center;

	position: relative;

	& > .edit-field{
		position: absolute;
		border: none;
		background: transparent;
		
		color: var(--text-color);
		width: calc(100vw - 4.2rem - 20px - 2rem);
		left: 100%;
		height: calc(100% - 15px);
		border-radius: 10px;

		font-weight: 500;
		font-size: 1rem;
		

	}
}
.settings-element > button{
	
	background: transparent;
	border: none;
}

#label{
	position: relative;
	border-top: solid 2px var(--divider-color);
	height: 3rem;
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
}

.eventLoadingIcon{
	position: absolute;
	z-index: 2;	
	width: 5rem;
	height: 5rem;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;
	
	& > svg{
		width: 50px;
		height: 50px;
		filter: drop-shadow(0 0 5px black);
		animation: rotate 1s infinite linear;	
	}
	
	& > svg path{
		
		stroke: var(--text-color);
	}
}

.toggle{
	border-radius: 99px;
	width: calc(3rem + .2rem);
	height: 2rem;
	background-color: var(--panel-background-color);
	overflow: hidden;
	position: relative;
}

.toggle > .switch{
	margin-top: .4rem;
	margin-bottom: .4rem;
	margin-left: .2rem;
	margin-right: .2rem;
	border-radius: 99px;
	position: absolute;
	transform: translateX(75%);	
	background-color: var(--divider-color);
	width: 50%;
	aspect-ratio: 1/1;
}

@keyframes toggleOn{
	from{
		transform: translateX(0%);
	}
	to{
		transform: translateX(75%);
	}
}

@keyframes toggleOff{
	from{
		transform: translateX(75%);
	}
	to{
		transform: translateX(0%);
	}
}

@keyframes rotate{
	from{
		rotate: 0deg;
	}
	to{
		rotate: 360deg;
	}
}

@keyframes slideUp{
	from{
		
		transform: translateY(100vh);
		opacity: 0%;
	}
	to{
		
		transform: translateY(0px);
		opacity: 100%;
	}
}

@keyframes slideDown{
	to{
		
		transform: translateY(100vh);
		opacity: 0%;
	}
	from{
		
		transform: translateY(0px);
		opacity: 100%;
	}

}

.errorIcon{
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	& > svg{
		width: 33%;
	}

	& > svg path{
		fill: var(--card-background);
	}
}

input:focus{
	transition: ease-in-out .2s !important;
	background-color: var(--input-field-background) !important;
	outline: none !important;
	border: none !important;
}
.edit-field:focus{
	padding: 10px;
}
input{
	transition: ease-in-out .2s;
	padding: 0;
}

